# Business Identification

- Source: https://www.paddle.com/help/start/account-verification/what-is-business-verification
- Publisher: Paddle
- Accessed: 2026-10-08

> Please note, this step is not required for individuals or sole traders.
> 
> If your submission requires a manual review by our team, we aim to complete this within an estimated 2-4 business days.
